<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hello {{name}}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <style>
      body { font-family: Arial, sans-serif; } .container { max-width: 600px;
      margin: 0 auto; padding: 20px; background-color: #f5f5f5; } h1 { color:
      #333; } p { line-height: 1.5; }
    </style>
  </head>

  <body>
    <div class="container">
      <p>Dear {{name}},</p>
      <p>Your password has been changed successfully.</p>
      <p>If you didn't trigger this action reach out to us for support.</p>
      <p>Enjoy using our application!</p>
      <p>Best regards,</p>
      <p>The BankApp Team</p>
      You are receiving this email because of your subscription to Bankapp
      <br /><br />
      <a style="padding:3px; color: #999896;" href={{link}}>If you don't like
        this email. Unsubscribe</a>
    </div>
  </body>

</html>